.parent{
  width: 1000px;
    height: 800px;
    background-color: #408080;
    border: 2px solid red;
}
.child{
    box-sizing: border-box;
    width: 50%;
    height: 80%px;
    padding:10px;
    border: 2px solid #954121;
    background-color: white;
    float: left;
}