.parent_1 {
    background-color: #408080;
    width: 500px;
    height: 500px;
    position: relative;
}

.child_1 {
    background-color: #954121;
    width: 200px;
    height: 200px;
    position: absolute;
    margin:  auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parent_2{
    background-color: #BB6688;
    width: 800px;
    height: 500px;
    position: relative;
}
.child_2{
    background-color: white;
    height: 200px;
    width: 600px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -300px;
}

.parent_3{
    background-color: #BB6688;
    width: 600px;
    height: 600px;
    position: relative;
}
.child_3{
    background-color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
}

.parent_4{
    background-color: #954121;
    width: 600px;
    height: 600px;
  display: flex;
    justify-content: center;
    align-items: center;
}
.child_4{
    background-color: white;

}