.parent {
}

.box_1 {
    background-color: #40a070;
    width: 200px;
    height: 200px;
    margin: 20px 0;
}

.box_2 {
    background-color: #954121;
    width: 200px;
    height: 200px;
    margin: 20px 0;
}

.box_1, .box_2 {
    float: left;
}